{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Bem-vindo à minha Pokédex!</h1>
        <p class="lead">Este é um projeto de estudo utilizando Django, Docker, PostgreSQL e HTMX.</p>
        <hr class="my-4">
        <p>
            Esta aplicação foi desenvolvida para aprimorar habilidades em desenvolvimento web,
            utilizando o framework Django para o backend, Docker para containerização, PostgreSQL como banco de dados e
            HTMX para a
            interação dinâmica na interface do usuário.
        </p>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'list-pkmns' %}" role="button">Ver Pokémons</a>
        </p>
    </div>
</div>
{% endblock %}