<!DOCTYPE html>
<html>
<head>
    <title>Pokedex</title>
    <script src="https://unpkg.com/htmx.org@1.5.0/dist/htmx.min.js"></script>
</head>
<body>
    <h1>Pokedex</h1>
    <ul>
        {% for pokemon in pokemon_list %}
            <li>
                <img src="{{ pokemon.image }}" alt="{{ pokemon.name }}" width="100">
                <strong>{{ pokemon.number }} - {{ pokemon.name }}</strong>
                <p>Types: 
                    {% for type in pokemon.types.all %} 
                        {{type.name}}{% if not forloop.last %} / {% endif %}
                    {% endfor %}
                </p>
                <p>HP: {{ pokemon.hp }}, ATK: {{ pokemon.attack }}, SpATK: {{ pokemon.special_attack }}, DEF: {{ pokemon.defense }}, SpDEF: {{ pokemon.special_defense }}, SPEED: {{ pokemon.speed }}</p>
                {% if pokemon.evolution_line %}
                    <p>Evolution Line: {{ pokemon.evolution_line }}</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>
