<ul class="nav d-flex justify-content-between" style="background-color: #2c456b;">
    <li class="nav-item">
        <a class="nav-link text-decoration-none" aria-current="page" href="/">
            Naoji's Pokedex
        </a>
    </li>
    <div class="d-flex ms-auto">
        <li class="nav-item">
            <a class="nav-link active text-decoration-none" aria-current="page" href="list/">
                Pokemon
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-decoration-none" style="text-decoration: none;"
                href="https://github.com/n4oji/pokedex">
                Github
            </a>
        </li>
    </div>

</ul>